/*#logo img{

	width: 16em;
	padding-left: 0;
	position: absolute;
	left: 0;
}*/

/*.avarter{
	padding-top: 6.2em;
}
.welcome-avarter-name{
	color: #c1bdbd;
	position: absolute;
	right: 1em;
	top: 8em;
	text-align: center;
}*/

/*.sidebar-footer{
	height: 100%;
	padding-top: 35%;
	
}
.right-side-bar{
	height: 100%;
}
.product, .copy-right{
	color: #c1bdbd;
	text-align: center;
}
*/
